<section class="details">
    {{#with movieId}}
        <div>
            <img src="{{image}}" alt="{{title}}"/>
            <article>
                <a href="/movies">Go back</a>
                <h3>{{title}}</h3>
                <h4>{{director}}</h4>
                <p>Stars</p>
                <ul>
                    <li>{{stars.[0]}}</li>
                    <li>{{stars.[1]}}</li>
                    <li>{{stars.[2]}}</li>
                </ul>
                <p>{{description}}</p>
                {{#each showtimes}}
                <span>{{this}}|</span>
                {{/each}}
            </article>
        </div>
    {{/with}}
</section>